@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* flash */
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 4px;
}

/* _header.html */
.header {
  background-color: white;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
  color: black;
}

.header_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.header_text {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  color: #FF5A5F;
}

.login {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin-right: 30px;
}

.btn {
  background-color: #FF5A5F;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  padding: .375rem .75rem;
  border-radius: 4px;
}

.user_dropdown {
  position: relative;
  cursor: pointer;
}

.user_info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user_name {
  display: flex;
  align-items: center;
}

.tri {
  font-size: 9px;
  margin-left: 4px;
}

.dropdown_menu {
  display: none;
  position: absolute;
  left: 0;
  margin-top: 4px;
  padding: 4px 0;
  min-width: 120px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  list-style: none;
  z-index: 100;
}

.dropdown_menu li {
  padding: 0 8px;
  text-align: left;
}

.dropdown_menu li a {
  color: black;
  font-size: 14px;
  text-decoration: none;
}

.divider {
  height: 1px;
  background-color: rgb(190, 190, 190);
  margin: 4px 0;
  padding: 0;
}

.dropdown_menu li:hover {
  background-color: #f0f0f0;
}

/* hoverでドロップダウンを表示 */
.user_dropdown:hover .dropdown_menu {
  display: block;
}

/* sessionsのnew.html */
.input_container {
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 60px 0 120px;
}

.input_form {
  max-width: 700px;
  background-color: white;
  border-radius: 4px;
  margin: auto;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.input_form_title {
  font-size: 35px;
  font-weight: 500;
  margin: 0 0 24px 0;
  text-align: center;
}

.input_form label {
  display: block;
  color: dimgray;
  font-size: 14px;
  font-weight: 700;;
  padding: 5px 0;
}

.input_field {
  width: 100%;
  height: 45px;
  padding-left: 14px;
  box-sizing: border-box;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.required_label {
  margin-top: 14px;
}

.required_label::after {
  margin-left: 4px;
  box-sizing: border-box;
  content: "*";
  color: rgb(255, 51, 0);
  font-size: 14px;
}

.submit_btn {
  width: 100%;
  margin-top: 20px;
  height: 60px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #FF5A5F;
  font-size: 16px;
}

.login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 10px;
  text-decoration: none;
  color: dimgray;
  font-size: 16px;
}

/* usersのshow.html */
.user_section_container {
  margin: auto;
  padding: 40px 32px 160px;
  max-width: 1440px;
  width: 100%;
}

.user_container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.user_section_container h1 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
}

.side_nav {
  padding: 0;
  margin: 0;
  width: 350px;
  height: fit-content;
  background-color: white;
  border: 1px solid #d3d3d3;
  list-style: none;
}

.side_nav_item1 {
  padding: 20px 24px;
  border-bottom: 1px solid #d3d3d3;
}

.side_nav_item2 {
  padding: 20px 24px;
  border: none;
}

.nav_btn {
  color: black;
  text-decoration: none;
}

.nav_btn.active {
  color: red;
}

.account_info {
  width: 100%;
}

.account_info_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #d3d3d3;
}

.account_info_header h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.edit_btn {
  color: #FF5A5F;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.account_info_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.label {
  margin-top: 0;
  width: 20%;
  font-size: 16px;
  font-weight: 700;
}

.account_info_main p {
  margin: 0;
  font-size: 16px;
  width: 80%;
}

.account_icon {
  width: 80%;
}

/* edit.html */
.account_info_label {
  margin-top: 0;
  width: 25%;
  font-size: 16px;
  font-weight: 700;
}

.label_group {
  width: 25%;
}

.form_note {
  display: block;
  font-size: 12px;
  font-weight: 500;
}

.edit_form_action {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  gap: 12px;
  margin-bottom: 10px;
}

.submit_edit_btn {
  background-color: #FF5A5F;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.cancel_btn {
  color: dimgray;
  padding: 10px 40px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.icon_group {
  display: flex;
  align-items: center;
  width: 100%;
}

.profile_icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.upload_btn {
  margin-left: 20px;
}

.input_field_introduction {
  width: 100%;
  height: 125px;
  margin-bottom: 14px;
  padding: 14px;
  box-sizing: border-box;
  border: 1px solid rgb(199, 198, 198);
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}


